* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(90deg, #14b8a6, #0d9488);
}

.main {
    /* background-color: chartreuse; */
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .toast{
    position: relative;
    top: 90px;
    background-color: chocolate;
    width: 20vw;
    height: 8vh;
} */


/* ======= title section ======= */

.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: cyan; */
    width: 50vw;
    height: 10vh;
}

/* ========== task section =======  */

.task-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: rgb(0, 81, 255);
    width: 50vw;
    height: 70vh;
}

.task-add {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(255, 123, 0); */
    width: 50vw;
    height: 10vh;
}

input[type="text"] {
    padding: 20px;
    width: 25vw;
    height: 5vh;
    border-radius: 8px;
    border: 2px solid #0d9488;
    gap: 20px;
}

#add-task,
#clear-task {
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #0d9488;
    cursor: pointer;
}

.task-show {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

#list-container {
    list-style: none;        
    padding: 0;              
    margin: 10px 0;
    width: 100%;
    height: 45vh;
    overflow-y: auto;
}

#list-container li {
    background-color: rgb(162, 184, 141);
    padding: 10px;
    margin: 20px;
    border-radius: 6px;
}


/* ====== task data section =======   */

.task-data {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.task-data button {
    padding: 15px;
    border-radius: 8px;
}